{
	"COPP_GROUP": {
		"queue40_group1": {
			"trap_action":"trap",
			"trap_priority": "40",
			"queue": "40"
		},
		"queue41_group1": {
			"trap_action":"trap",
			"trap_priority":"41",
			"queue": "41"
		},
		"queue3_group1": {
			"genetlink_mcgrp_name": "packets",
			"genetlink_name": "psample",
			"trap_action": "trap",
			"trap_priority": "3",
			"queue": "3"
		},
		"queue4_group1": {
			"trap_action":"trap",
			"trap_priority":"4",
			"queue": "4"
		},
		"queue5_group1": {
			"trap_action":"trap",
			"trap_priority":"5",
			"queue": "5"
		},
		"queue7_group1": {
			"trap_action":"trap",
			"trap_priority":"7",
			"queue": "7"
		},
		"trap.group.cpu.queue.0": {
			"queue": "0"
		},
		"trap.group.cpu.queue.1": {
			"queue": "1"
		},
		"trap.group.cpu.queue.2": {
			"queue": "2"
		},
		"trap.group.cpu.queue.3": {
			"queue": "3"
		},
		"trap.group.cpu.queue.4": {
			"queue": "4"
		},
		"trap.group.cpu.queue.5": {
			"queue": "5"
		},
		"trap.group.cpu.queue.6": {
			"queue": "6"
		},
		"trap.group.cpu.queue.7": {
			"queue": "7"
		},
		"trap.group.cpu.queue.8": {
			"queue": "8"
		},
		"trap.group.cpu.queue.9": {
			"queue": "9"
		},
		"trap.group.cpu.queue.10": {
			"queue": "10"
		},
		"trap.group.cpu.queue.11": {
			"queue": "11"
		},
		"trap.group.cpu.queue.12": {
			"queue": "12"
		},
		"trap.group.cpu.queue.13": {
			"queue": "13"
		},
		"trap.group.cpu.queue.14": {
			"queue": "14"
		},
		"trap.group.cpu.queue.15": {
			"queue": "15"
		},
		"trap.group.cpu.queue.16": {
			"queue": "16"
		},
		"trap.group.cpu.queue.17": {
			"queue": "17"
		},
		"trap.group.cpu.queue.18": {
			"queue": "18"
		},
		"trap.group.cpu.queue.19": {
			"queue": "19"
		},
		"trap.group.cpu.queue.20": {
			"queue": "20"
		},
		"trap.group.cpu.queue.21": {
			"queue": "21"
		},
		"trap.group.cpu.queue.22": {
			"queue": "22"
		},
		"trap.group.cpu.queue.23": {
			"queue": "23"
		},
		"trap.group.cpu.queue.24": {
			"queue": "24"
		},
		"trap.group.cpu.queue.25": {
			"queue": "25"
		},
		"trap.group.cpu.queue.26": {
			"queue": "26"
		},
		"trap.group.cpu.queue.27": {
			"queue": "27"
		},
		"trap.group.cpu.queue.28": {
			"queue": "28"
		},
		"trap.group.cpu.queue.29": {
			"queue": "29"
		},
		"trap.group.cpu.queue.30": {
			"queue": "30"
		},
		"trap.group.cpu.queue.31": {
			"queue": "31"
		},
		"trap.group.cpu.queue.32": {
			"queue": "32"
		},
		"trap.group.cpu.queue.33": {
			"queue": "33"
		},
		"trap.group.cpu.queue.34": {
			"queue": "34"
		},
		"trap.group.cpu.queue.35": {
			"queue": "35"
		},
		"trap.group.cpu.queue.36": {
			"queue": "36"
		},
		"trap.group.cpu.queue.37": {
			"queue": "37"
		},
		"trap.group.cpu.queue.38": {
			"queue": "38"
		},
		"trap.group.cpu.queue.39": {
			"queue": "39"
		},
		"trap.group.cpu.queue.40": {
			"queue": "40"
		},
		"trap.group.cpu.queue.41": {
			"queue": "41"
		},
		"trap.group.cpu.queue.42": {
			"queue": "42"
		},
		"trap.group.cpu.queue.43": {
			"queue": "43"
		},
		"trap.group.cpu.queue.44": {
			"queue": "44"
		},
		"trap.group.cpu.queue.45": {
			"queue": "45"
		},
		"trap.group.cpu.queue.46": {
			"queue": "46"
		},
		"trap.group.cpu.queue.47": {
			"queue": "47"
		}
	},
	"COPP_TRAP": {
		"teamd": {
			"trap_ids": "lacp",
			"trap_group": "queue40_group1"
		},
		"ssh": {
			"trap_ids": "ssh",
			"trap_group": "queue4_group1",
			"always_enabled": "true"
		},
		"p4rt": {
			"trap_ids": "p4rt",
			"trap_group": "queue41_group1"
		},
		"gnmi": {
			"trap_ids": "gnmi",
			"trap_group": "queue41_group1"
		},
		"ntp_client": {
			"trap_ids": "ntp_client",
			"trap_group": "queue7_group1",
			"always_enabled": "true"
		},
		"ntp_server": {
			"trap_ids": "ntp_server",
			"trap_group": "queue7_group1",
			"always_enabled": "true"
		},
		"sflow": {
			"trap_group": "queue3_group1",
			"trap_ids": "sample_packet"
		},
		"http": {
			"trap_ids": "http_client",
			"trap_group": "queue4_group1",
			"always_enabled": "true"
		},
		"icmp": {
			"trap_ids": "icmp",
			"trap_group": "queue5_group1",
			"always_enabled": "true"
		},
		"icmpv6": {
			"trap_ids": "icmpv6",
			"trap_group": "queue5_group1",
			"always_enabled": "true"
		},
		"vrmu": {
			"trap_ids": "vrmu",
			"trap_group": "queue7_group1",
			"always_enabled": "true"
		}
	}
}
