{
	"COPP_GROUP": {
		"queue40_group1": {
			"trap_action":"trap",
			"trap_priority": "40",
			"queue": "40"
		},
		"queue41_group1": {
			"trap_action":"trap",
			"trap_priority":"41",
			"queue": "41"
		},
		"queue3_group1": {
			"genetlink_mcgrp_name": "packets",
			"genetlink_name": "psample",
			"trap_action": "trap",
			"trap_priority": "3",
			"queue": "3"
		},
		"queue4_group1": {
			"trap_action":"trap",
			"trap_priority":"4",
			"queue": "4"
		},
		"queue5_group1": {
			"trap_action":"trap",
			"trap_priority":"5",
			"queue": "5"
		},
		"queue7_group1": {
			"trap_action":"trap",
			"trap_priority":"7",
			"queue": "7"
		},
		"trap.group.cpu.queue.0": {
			"queue": "0",
			"genetlink_name" : "genl_packet_q0",
			"genetlink_mcgrp_name" : "packets"
		},
		"trap.group.cpu.queue.1": {
			"queue": "1",
			"genetlink_name" : "genl_packet_q1",
			"genetlink_mcgrp_name" : "packets"
		},
		"trap.group.cpu.queue.2": {
			"queue": "2",
			"genetlink_name" : "genl_packet_q2",
			"genetlink_mcgrp_name" : "packets"
		},
		"trap.group.cpu.queue.3": {
			"queue": "3",
			"genetlink_name" : "genl_packet_q3",
			"genetlink_mcgrp_name" : "packets"
		},
		"trap.group.cpu.queue.4": {
			"queue": "4",
			"genetlink_name" : "genl_packet_q4",
			"genetlink_mcgrp_name" : "packets"
		},
		"trap.group.cpu.queue.5": {
			"queue": "5",
			"genetlink_name" : "genl_packet_q5",
			"genetlink_mcgrp_name" : "packets"
		},
		"trap.group.cpu.queue.6": {
			"queue": "6",
			"genetlink_name" : "genl_packet_q6",
			"genetlink_mcgrp_name" : "packets"
		},
		"trap.group.cpu.queue.7": {
			"queue": "7",
			"genetlink_name" : "genl_packet_q7",
			"genetlink_mcgrp_name" : "packets"
		},
		"trap.group.cpu.queue.8": {
			"queue": "8",
			"genetlink_name" : "genl_packet_q8",
			"genetlink_mcgrp_name" : "packets"
		},
		"trap.group.cpu.queue.9": {
			"queue": "9",
			"genetlink_name" : "genl_packet_q9",
			"genetlink_mcgrp_name" : "packets"
		},
		"trap.group.cpu.queue.10": {
			"queue": "10",
			"genetlink_name" : "genl_packet_q10",
			"genetlink_mcgrp_name" : "packets"
		},
		"trap.group.cpu.queue.11": {
			"queue": "11",
			"genetlink_name" : "genl_packet_q11",
			"genetlink_mcgrp_name" : "packets"
		},
		"trap.group.cpu.queue.12": {
			"queue": "12",
			"genetlink_name" : "genl_packet_q12",
			"genetlink_mcgrp_name" : "packets"
		},
		"trap.group.cpu.queue.13": {
			"queue": "13",
			"genetlink_name" : "genl_packet_q13",
			"genetlink_mcgrp_name" : "packets"
		},
		"trap.group.cpu.queue.14": {
			"queue": "14",
			"genetlink_name" : "genl_packet_q14",
			"genetlink_mcgrp_name" : "packets"
		},
		"trap.group.cpu.queue.15": {
			"queue": "15",
			"genetlink_name" : "genl_packet_q15",
			"genetlink_mcgrp_name" : "packets"
		},
		"trap.group.cpu.queue.16": {
			"queue": "16",
			"genetlink_name" : "genl_packet_q16",
			"genetlink_mcgrp_name" : "packets"
		},
		"trap.group.cpu.queue.17": {
			"queue": "17",
			"genetlink_name" : "genl_packet_q17",
			"genetlink_mcgrp_name" : "packets"
		},
		"trap.group.cpu.queue.18": {
			"queue": "18",
			"genetlink_name" : "genl_packet_q18",
			"genetlink_mcgrp_name" : "packets"
		},
		"trap.group.cpu.queue.19": {
			"queue": "19",
			"genetlink_name" : "genl_packet_q19",
			"genetlink_mcgrp_name" : "packets"
		},
		"trap.group.cpu.queue.20": {
			"queue": "20",
			"genetlink_name" : "genl_packet_q20",
			"genetlink_mcgrp_name" : "packets"
		},
		"trap.group.cpu.queue.21": {
			"queue": "21",
			"genetlink_name" : "genl_packet_q21",
			"genetlink_mcgrp_name" : "packets"
		},
		"trap.group.cpu.queue.22": {
			"queue": "22",
			"genetlink_name" : "genl_packet_q22",
			"genetlink_mcgrp_name" : "packets"
		},
		"trap.group.cpu.queue.23": {
			"queue": "23",
			"genetlink_name" : "genl_packet_q23",
			"genetlink_mcgrp_name" : "packets"
		},
		"trap.group.cpu.queue.24": {
			"queue": "24",
			"genetlink_name" : "genl_packet_q24",
			"genetlink_mcgrp_name" : "packets"
		},
		"trap.group.cpu.queue.25": {
			"queue": "25",
			"genetlink_name" : "genl_packet_q25",
			"genetlink_mcgrp_name" : "packets"
		},
		"trap.group.cpu.queue.26": {
			"queue": "26",
			"genetlink_name" : "genl_packet_q26",
			"genetlink_mcgrp_name" : "packets"
		},
		"trap.group.cpu.queue.27": {
			"queue": "27",
			"genetlink_name" : "genl_packet_q27",
			"genetlink_mcgrp_name" : "packets"
		},
		"trap.group.cpu.queue.28": {
			"queue": "28",
			"genetlink_name" : "genl_packet_q28",
			"genetlink_mcgrp_name" : "packets"
		},
		"trap.group.cpu.queue.29": {
			"queue": "29",
			"genetlink_name" : "genl_packet_q29",
			"genetlink_mcgrp_name" : "packets"
		},
		"trap.group.cpu.queue.30": {
			"queue": "30",
			"genetlink_name" : "genl_packet_q30",
			"genetlink_mcgrp_name" : "packets"
		},
		"trap.group.cpu.queue.31": {
			"queue": "31",
			"genetlink_name" : "genl_packet_q31",
			"genetlink_mcgrp_name" : "packets"
		},
		"trap.group.cpu.queue.32": {
			"queue": "32",
			"genetlink_name" : "genl_packet_q32",
			"genetlink_mcgrp_name" : "packets"
		},
		"trap.group.cpu.queue.33": {
			"queue": "33",
			"genetlink_name" : "genl_packet_q33",
			"genetlink_mcgrp_name" : "packets"
		},
		"trap.group.cpu.queue.34": {
			"queue": "34",
			"genetlink_name" : "genl_packet_q34",
			"genetlink_mcgrp_name" : "packets"
		},
		"trap.group.cpu.queue.35": {
			"queue": "35",
			"genetlink_name" : "genl_packet_q35",
			"genetlink_mcgrp_name" : "packets"
		},
		"trap.group.cpu.queue.36": {
			"queue": "36",
			"genetlink_name" : "genl_packet_q36",
			"genetlink_mcgrp_name" : "packets"
		},
		"trap.group.cpu.queue.37": {
			"queue": "37",
			"genetlink_name" : "genl_packet_q37",
			"genetlink_mcgrp_name" : "packets"
		},
		"trap.group.cpu.queue.38": {
			"queue": "38",
			"genetlink_name" : "genl_packet_q38",
			"genetlink_mcgrp_name" : "packets"
		},
		"trap.group.cpu.queue.39": {
			"queue": "39",
			"genetlink_name" : "genl_packet_q39",
			"genetlink_mcgrp_name" : "packets"
		},
		"trap.group.cpu.queue.40": {
			"queue": "40",
			"genetlink_name" : "genl_packet_q40",
			"genetlink_mcgrp_name" : "packets"
		},
		"trap.group.cpu.queue.41": {
			"queue": "41",
			"genetlink_name" : "genl_packet_q41",
			"genetlink_mcgrp_name" : "packets"
		},
		"trap.group.cpu.queue.42": {
			"queue": "42",
			"genetlink_name" : "genl_packet_q42",
			"genetlink_mcgrp_name" : "packets"
		},
		"trap.group.cpu.queue.43": {
			"queue": "43",
			"genetlink_name" : "genl_packet_q43",
			"genetlink_mcgrp_name" : "packets"
		},
		"trap.group.cpu.queue.44": {
			"queue": "44",
			"genetlink_name" : "genl_packet_q44",
			"genetlink_mcgrp_name" : "packets"
		},
		"trap.group.cpu.queue.45": {
			"queue": "45",
			"genetlink_name" : "genl_packet_q45",
			"genetlink_mcgrp_name" : "packets"
		},
		"trap.group.cpu.queue.46": {
			"queue": "46",
			"genetlink_name" : "genl_packet_q46",
			"genetlink_mcgrp_name" : "packets"
		},
		"trap.group.cpu.queue.47": {
			"queue": "47",
			"genetlink_name" : "genl_packet_q47",
			"genetlink_mcgrp_name" : "packets"
		}
	},
	"COPP_TRAP": {
		"teamd": {
			"trap_ids": "lacp",
			"trap_group": "queue40_group1"
		},
		"ssh": {
			"trap_ids": "ssh",
			"trap_group": "queue4_group1",
			"always_enabled": "true"
		},
		"p4rt": {
			"trap_ids": "p4rt",
			"trap_group": "queue41_group1"
		},
		"gnmi": {
			"trap_ids": "gnmi",
			"trap_group": "queue41_group1"
		},
		"ntp_client": {
			"trap_ids": "ntp_client",
			"trap_group": "queue7_group1",
			"always_enabled": "true"
		},
		"ntp_server": {
			"trap_ids": "ntp_server",
			"trap_group": "queue7_group1",
			"always_enabled": "true"
		},
		"sflow": {
			"trap_group": "queue3_group1",
			"trap_ids": "sample_packet"
		},
		"http": {
			"trap_ids": "http_client",
			"trap_group": "queue4_group1",
			"always_enabled": "true"
		},
		"icmp": {
			"trap_ids": "icmp",
			"trap_group": "queue5_group1",
			"always_enabled": "true"
		},
		"icmpv6": {
			"trap_ids": "icmpv6",
			"trap_group": "queue5_group1",
			"always_enabled": "true"
		},
		"vrmu": {
			"trap_ids": "vrmu",
			"trap_group": "queue7_group1",
			"always_enabled": "true"
		}
	}
}
